<!DOCTYPE html>
<html>

<head>
  <title>SmartHome</title>
  <%- include('imports'); -%>
</head>

<body>

    <div class="container-fluid bg-pdark m-0 mb-5 pl-5 p-3">
      <div class="row m-0 p-0">
        <div class="offset-1 col-8 p-2">
          <h3 class="text-light">SmartHome</h3>
        </div>
          <div class="col-2 p-2">
            <a href="/auth/login" class="btn bg-plight text-light ts-4 btn-block">Login</a>
          </div>
        </div>
      </div>
    </div>

  <div class="container p-5">

    <!-- SENSORES ---------------------------------------------------------->
    <%- include('allSensors'); -%>
    
  </div>
  </body>
</html>
